* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  background-color: #ffe6e6;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}


/*INDEX*/

/*Mosaïque*/

/*#mosaic {
  grid-column-start: 1;
  grid-column-end: 4;
}*/


/* Dropdown Button */
.dropbtn {
  background-color: #d9a3f9;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #722dc6;
}

li {
  text-decoration: none;
  display: flex;
  list-style: none;
  justify-content: center;
  width: 760px;
}

section a {
  width: 33%;
}



/*Etape 1*/
nav {
    display: flex;
    background-color: black;
    color: white;
    padding: 10px 0;
     width: 60%;
}
nav ul {
  display: flex;
  list-style: none;
  width: 100%; /* Largeur conteneur ul */
  justify-content: center;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2vw;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  
}

nav ul li a:hover {
  text-decoration: underline;
}


section {
  display: flex ;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

article {
width: 10%;
position: relative;

border: 1px solid #722dc6;
overflow: hidden;
}

.hidden-text,
.hidden-button {
  position: absolute;
  opacity: 0;
  top: 20px;
  left: 15px;
  visibility: hidden;
transition: opacity 0.7s ease, visibility 0.7s ease;
}

.hidden-text {
   top: 20%;
  left: 10%;
  width: 80%;
  font-size: 1.5vw;
  text-align: center;
  color: #333;
}


article:hover .hidden-text,
article:hover .hidden-button{
  opacity: 1;
  visibility: visible;
}
button {
  position: absolute;
  top: 100px;
  left: 120px;
  visibility: hidden;

}


